<%- include('blocks/header'); -%>

<h3>Delete account</h3>
<% if (messages.error) { %>
  <%= messages.error %>
<% } %>
<hr>
<form action="?_method=DELETE" method="POST">
  <div>
    <label for="email">Email</label>
    <input type="email" id="email" name="email" required>
  </div>
  <p></p>
  <div>
    <label for="password">Password</label>
    <input type="password" id="password" name="password" required>
  </div>
  <hr>
  <button type="submit">Delete account</button>
</form>
<p></p>
<a href="/v1/admins/register">Register</a>
<a href="/v1/admins/login">Login</a>


<%- include('blocks/footer'); -%>